
Fileio.pyc
*.txt
*.csv
testertexts/
GUI/__init__.pyc
GUI/guiMain.pyc
Simulation/enzymeDiffuser.pyc
Detection/__init__.pyc
Detection/det_and_track.pyc
AnalyzedData
SimulatedImages
Detection/analysisTools.pyc
Detection/convertFiles.pyc
Detection/ctrack.pyc
Detection/detectParticles.pyc
Detection/filters.pyc
Detection/markPosition.pyc
Detection/pysm/__init__.pyc
Detection/pysm/new_cython.pyc
Detection/pysm/thresholding.pyc
Detection/readImage.pyc
GUI/guiAnalysis.pyc
GUI/guiDetection.pyc
GUI/guiSimulation.py
GUI/guiSimulation.pyc
GUI/guiTracking.pyc
Simulation/__init__.pyc
Simulation/enzymeDiffuser.py
System/Fileio.py
System/__init__.pyc
*.pyc
*.png
*.tif
*.eps
*.swp

*.aux
*.blg
*.lof
*.lot
*.out
*.toc
*.bbl

